# Data Wrangling - Petfinder API

## Data Collection

Goal: Organize your data to streamline the next steps of your capstone

Time estimate: 1-2 hours 

■ Data loading

■ Data joining

In [1]:
# Import Libraries
import pandas as pd
import os
import petpy
from datetime import timedelta
import matplotlib.pyplot as plt
import numpy as np
from ast import literal_eval

from library.sb_utils import save_file

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

## Organizations

In [93]:
orgs_df = pd.read_csv('data/orgs_2019.csv')
orgs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      245 non-null    object
 1   name                    245 non-null    object
 2   email                   242 non-null    object
 3   phone                   155 non-null    object
 4   url                     245 non-null    object
 5   website                 150 non-null    object
 6   mission_statement       148 non-null    object
 7   photos                  245 non-null    object
 8   distance                0 non-null      float64
 9   address.address1        101 non-null    object
 10  address.address2        18 non-null     object
 11  address.city            245 non-null    object
 12  address.state           245 non-null    object
 13  address.postcode        245 non-null    int64
 14  address.country         245 non-null    object
 15  hours.monday            28 non-null     object
 16  hours.tuesday           29 non-null     object
 17  hours.wednesday         29 non-null     object
 18  hours.thursday          29 non-null     object
 19  hours.friday            30 non-null     object
 20  hours.saturday          32 non-null     object
 21  hours.sunday            28 non-null     object
 22  adoption.policy         137 non-null    object
 23  adoption.url            106 non-null    object
 24  social_media.facebook   125 non-null    object
 25  social_media.twitter    20 non-null     object
 26  social_media.youtube    17 non-null     object
 27  social_media.instagram  64 non-null     object
 28  social_media.pinterest  5 non-null      object
 29  organization_id         245 non-null    object
dtypes: float64(1), int64(1), object(28)
memory usage: 57.5+ KB

In [94]:
orgs_wa = orgs_df[['id', 'address.city']].set_index('id')
orgs_wa.sample(10)

        address.city
id
WA461       Kirkland
WA26         Spokane
WA148        Spokane
WA611   Mount Vernon
WA472   Lake Stevens
WA51      Gig Harbor
WA125      Bremerton
WA134        Everett
WA671  Battle Ground
WA418        Seattle

In [95]:
city_adopted = pd.DataFrame.to_dict(orgs_wa)

In [45]:
city_adopted = city_adopted['address.city']

print(city_adopted)

{'WA193': 'Yakima', 'WA687': 'Yakima', 'WA447': 'Yakima', 'WA461': 'Kirkland', 'WA39': 'Redmond', 'WA401': 'Des Moines', 'WA446': 'Olympia', 'WA674': 'Onalaska', 'WA08': 'Bremerton', 'WA694': 'Gig Harbor', 'WA127': 'Puyallup', 'WA91': 'Leavenworth', 'WA135': 'Camano Island', 'WA668': 'Yakima', 'WA380': 'Roslyn', 'WA325': 'Bainbridge Island', 'WA441': 'Seattle', 'WA430': 'Anacortes', 'WA602': 'Newport', 'WA307': 'Issaquah', 'WA573': 'Lacey', 'WA503': 'Seattle', 'WA214': 'Seattle', 'WA531': 'Bonney Lake', 'WA682': 'Bonney Lake', 'WA669': 'Puyallup', 'WA701': 'Vancouver', 'WA77': 'Seattle', 'WA169': 'Oak Harbor', 'WA167': 'Sultan', 'WA403': 'Union Gap', 'WA422': 'Bothell', 'WA149': 'Auburn', 'WA350': 'Olalla', 'WA575': 'Seattle', 'WA593': 'Oakville', 'WA283': 'Woodinville', 'WA688': 'Ferndale', 'WA686': 'Spokane', 'WA66': 'Redmond', 'WA389': 'Vancouver', 'WA658': 'Tacoma', 'WA486': 'Quincy', 'WA237': 'Edmonds', 'WA51': 'Gig Harbor', 'WA663': 'Mount Vernon', 'WA675': 'Seattle', 'WA497': 'Auburn', 'WA519': 'Bellingham', 'WA355': 'Seahurst', 'WA649': 'Cashmere', 'WA162': 'Friday Harbor', 'WA474': 'Bellingham', 'WA101': 'Bothell', 'WA56': 'Burlington', 'WA70': 'Arlington', 'WA324': 'Prosser', 'WA628': 'Ferndale', 'WA391': 'Seattle', 'WA201': 'Aberdeen', 'WA125': 'Bremerton', 'WA470': 'Puyallup', 'WA148': 'Spokane', 'WA285': 'Maple Valley', 'WA466': 'Burlington', 'WA672': 'Bow', 'WA538': 'Seattle', 'WA693': 'Ephrata', 'WA653': 'West Richland', 'WA414': 'Olalla', 'WA418': 'Seattle', 'WA605': 'Everett', 'WA659': 'Kelso', 'WA545': 'Ellensburg', 'WA665': 'Gig Harbor', 'WA255': 'Long Beach', 'WA400': 'Redmond', 'WA552': 'Pasco', 'WA132': 'Stanwood', 'WA676': 'Tacoma', 'WA617': 'Lacey', 'WA134': 'Everett', 'WA604': 'Redmond', 'WA242': 'Spokane', 'WA526': 'Vancouver', 'WA262': 'Port Townsend', 'WA645': 'Oakville', 'WA49': 'Longview', 'WA333': 'Longview', 'WA677': 'Spokane ', 'WA139': 'Wenatchee', 'WA554': 'Kirkland', 'WA433': 'Redmond', 'WA06': 'Bellevue', 'WA117': 'Tacoma', 'WA118': 'Shelton', 'WA647': 'Battle Ground', 'WA642': 'Benton City', 'WA622': 'Arlington', 'WA178': 'Spokane Valley', 'WA07': 'Kennewick', 'WA656': 'Pasco', 'WA678': 'Bellingham', 'WA697': 'Sammamish', 'WA122': 'Langley', 'WA546': 'Woodinville', 'WA175': 'Yakima', 'WA90': 'Seattle', 'WA372': 'Winlock', 'WA476': 'Olympia', 'WA23': 'Snoqualmie', 'WA553': 'Gig Harbor', 'WA12': 'Vancouver', 'WA159': 'Tenino', 'WA353': 'Silverdale', 'WA606': 'Lake Stevens', 'WA633': 'Washougal', 'WA704': 'Sammamish', 'WA209': 'Benton City', 'WA114': 'Chehalis', 'WA664': 'Bellingham', 'WA52': 'Othello', 'CA2831': 'Edmonds', 'WA671': 'Battle Ground', 'WA477': 'McKenna', 'WA02': 'Pasco', 'WA594': 'Spokane', 'WA584': 'Oak Harbor', 'WA705': 'Bellevue', 'WA650': 'Seattle', 'WA330': 'Longview', 'WA113': 'Spokane Valley', 'WA660': 'Federal Way', 'WA690': 'Battle Ground', 'WA14': 'Blaine', 'WA309': 'Walla Walla', 'WA53': 'Sequim', 'WA527': 'Seattle', 'WA27': 'Seattle', 'WA203': 'Spokane', 'WA564': 'Chehalis', 'WA142': 'Quilcene', 'WA368': 'Seattle', 'WA35': 'Pullman', 'WA713': 'Onalaska', 'WA58': 'Seattle', 'WA623': 'Kirkland', 'WA712': 'Fall City', 'WA319': 'Ellensburg', 'WA87': 'Vashon Island', 'WA59': 'Lynnwood', 'WA84': 'Snoqualmie', 'WA208': 'Bothell', 'WA614': 'Deer Park', 'WA695': 'Ephrata', 'WA516': 'Vancouver', 'WA47': 'Seattle', 'WA26': 'Spokane', 'WA655': 'Allyn', 'WA11': 'Vancouver', 'WA608': 'Sequim', 'WA419': 'Issaquah', 'WA577': 'University Place', 'WA444': 'Seattle', 'WA683': 'Bellingham', 'WA48': 'Spokane', 'WA706': 'Seattle', 'WA627': 'Roy', 'WA673': 'Edmonds ', 'WA621': 'Seahurst', 'WA630': 'Silvana', 'WA544': 'Covington', 'WA314': 'Monroe', 'WA157': 'Kent', 'WA370': 'Moses Lake', 'WA97': 'Sequim', 'WA177': 'Anacortes', 'WA700': 'SEATTLE', 'WA241': 'Republic', 'WA221': 'Eastsound', 'WA500': 'Seattle', 'WA523': 'Tacoma', 'WA7': 'Bellingham', 'WA40': 'Shoreline', 'WA15': 'Bellingham', 'WA164': 'Washougal', 'WA581': 'Seattle', 'WA138': 'Bothell', 'WA472': 'Lake Stevens', 'WA611': 'Mount Vernon', 'WA73': 'Puyallup', 'WA378': 'Wenatchee', 'WA644': 'Seattle', 'WA652': 'Renton', 'WA68': 'Port Angeles', 'WA711': 'Port Angeles', 'WA38': 'Battle Ground', 'WA424': 'West Richland', 'WA613': 'La Center', 'WA716': 'Everett', 'WA612': 'Elma', 'WA79': 'Ellensburg', 'WA707': 'Olympia', 'WA576': 'Connell', 'WA699': 'Moses Lake', 'WA295': 'Steilacoom', 'WA717': 'Lake Forest Park', 'WA119': 'Kirkland', 'WA715': 'Lacey', 'WA388': 'Chewelah', 'WA215': 'Seattle', 'WA467': 'Chehalis', 'WA661': 'Spokane', 'WA455': 'Olympia', 'WA708': 'Edgewood', 'WA562': 'Mountlake Terrace', 'WA219': 'Ocean Shores', 'WA65': 'Yakima', 'WA112': 'Tacoma', 'WA287': 'Moses Lake', 'WA109': 'Woodinville', 'WA721': 'Vancouver', 'WA681': 'Spokane', 'WA696': 'East Wenatchee', 'WA150': 'Raymond', 'WA718': 'Ferndale', 'WA107': 'Seattle', 'WA224': 'Spokane', 'WA691': 'Puyallup', 'WA625': 'Centralia', 'WA719': 'Bellingham', 'WA19': 'Olympia', 'WA254': 'Auburn', 'WA720': 'Marysville', 'WA632': 'Yakima', 'WA689': 'Ravensdale', 'WA41': 'Silverdale', 'WA722': 'Issaquah', 'WA123': 'Coupeville', 'WA680': 'Pullman', 'WA96': 'Sumner', 'WA510': 'Everett', 'WA638': 'Okanogan', 'WA662': 'Silverlake', 'WA580': 'Ferndale'}

In [98]:
# save the data to a new csv file
datapath = 'data'
save_file(orgs_wa.reset_index(), 'orgs_wa.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)y
Writing file.  "data/orgs_wa.csv"