# Modeling
## KNeighbors

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsRegressor

In [13]:
X_train = pd.read_csv('data/tt_sets/cats_X_train.csv')
y_train = pd.read_csv('data/tt_sets/cats_y_train.csv')
X_test = pd.read_csv('data/tt_sets/cats_X_test.csv')
y_test = pd.read_csv('data/tt_sets/cats_y_test.csv')

In [14]:
kn_params = {'n_neighbors': 88, 'p': 2, 'weights': 'uniform'}
kn = KNeighborsRegressor(n_neighbors=kn_params['n_neighbors'], weights=kn_params['weights'], p=kn_params['p'])
kn.fit(X_train, y_train)
score_train = kn.score(X_train, y_train)

In [15]:
y_pred = kn.predict(X_test)
score_test = kn.score(X_test, y_test)

In [22]:
print('Score on training set:', round(score_train, 2))
print('Score on test set:', round(score_test, 2))

Score on training set: 0.05
Score on test set: 0.04

In [5]:
comparison = pd.DataFrame(list(zip(y_pred, y_test.values)),
              columns=['Predicted','Actual'])

In [6]:
comparison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1947 entries, 0 to 1946
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Predicted  1947 non-null   object
 1   Actual     1947 non-null   object
dtypes: object(2)
memory usage: 30.5+ KB

In [7]:
comparison = comparison.astype('float64')

In [10]:
comparison.describe()

         Predicted       Actual
count  1947.000000  1947.000000
mean     24.258829    24.678910
std       7.321068    35.499379
min       6.886344     0.004965
25%      19.602120     3.681453
50%      24.711171    10.881238
75%      28.387552    29.401620
max      51.171999   220.761794

In [9]:
comparison.sample(20)

      Predicted      Actual
914   28.051742    4.221563
1676  24.582852   52.190926
1184  29.899381   42.240104
1388  35.301023   32.932928
250   28.635875   21.158113
946   19.602120   12.119502
828   19.672225    3.741076
1414  20.774422   12.939595
884   44.110401  124.890150
1921  19.742325   52.198715
943   27.549005   77.849294
469   25.152033   12.272963
646   19.742325   51.846956
1249  29.198180   29.995903
1687  20.038963    0.969850
1207  19.976500    5.200984
80    30.793175    5.783299
1080  34.503870    8.533449
374   26.315143    9.333623
1866  21.321760  148.935729

In [11]:
kn.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 88,
 'p': 2,
 'weights': 'uniform'}

In [28]:
print('Average predicted time before adoption:', np.round(np.mean(y_pred), 2))
print('Actual average time before adoption:', np.round(np.mean(y_test.duration_as_adoptable), 2))

Average predicted time before adoption: 24.26
Actual average time before adoption: 24.68