# Modeling
## KNeighbors

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsRegressor

In [2]:
X_train = pd.read_csv('data/tt_sets/cats_X_train.csv')
y_train = pd.read_csv('data/tt_sets/cats_y_train.csv')
X_test = pd.read_csv('data/tt_sets/cats_X_test.csv')
y_test = pd.read_csv('data/tt_sets/cats_y_test.csv')

In [3]:
kn_params = {'n_neighbors': 88, 'p': 2, 'weights': 'uniform'}
kn = KNeighborsRegressor(n_neighbors=kn_params['n_neighbors'], weights=kn_params['weights'], p=kn_params['p'])
kn.fit(X_train, y_train)
kn.score(X_train, y_train)

0.05030333695068101

In [4]:
y_pred = kn.predict(X_test)
kn.score(X_test, y_test)

0.04106651102788483

In [5]:
comparison = pd.DataFrame(list(zip(y_pred, y_test.values)),
              columns=['Predicted','Actual'])

In [6]:
comparison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1947 entries, 0 to 1946
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Predicted  1947 non-null   object
 1   Actual     1947 non-null   object
dtypes: object(2)
memory usage: 30.5+ KB

In [7]:
comparison = comparison.astype('float64')

In [9]:
comparison.sample(20)

      Predicted      Actual
914   28.051742    4.221563
1676  24.582852   52.190926
1184  29.899381   42.240104
1388  35.301023   32.932928
250   28.635875   21.158113
946   19.602120   12.119502
828   19.672225    3.741076
1414  20.774422   12.939595
884   44.110401  124.890150
1921  19.742325   52.198715
943   27.549005   77.849294
469   25.152033   12.272963
646   19.742325   51.846956
1249  29.198180   29.995903
1687  20.038963    0.969850
1207  19.976500    5.200984
80    30.793175    5.783299
1080  34.503870    8.533449
374   26.315143    9.333623
1866  21.321760  148.935729