# Modeling
## GradientBoostingRegressor

In [45]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
import seaborn as sns
# from ast import literal_eval
# from sklearn.pipeline import make_pipeline
# from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
# from sklearn.metrics import mean_squared_error

from sklearn.ensemble import GradientBoostingRegressor

In [46]:
X_train = pd.read_csv('data/tt_sets/dogs_X_train.csv')
y_train = pd.read_csv('data/tt_sets/dogs_y_train.csv')
X_test = pd.read_csv('data/tt_sets/dogs_X_test.csv')
y_test = pd.read_csv('data/tt_sets/dogs_y_test.csv')

In [47]:
gb_params = {'learning_rate': 0.1, 'max_depth': 2, 'n_estimators': 233}
gb = GradientBoostingRegressor(n_estimators=gb_params['n_estimators'], max_depth=gb_params['max_depth'], learning_rate=gb_params['learning_rate'])
gb.fit(X_train, y_train)
gb.score(X_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.1348243072083778

In [48]:
y_pred = gb.predict(X_test)
gb.score(X_test, y_test)

0.11017168698290836

In [49]:
# comparison = pd.DataFrame({'Predicted': y_pred, 'Actual': y_test})

comparison = pd.DataFrame(list(zip(y_pred, y_test.values)),
              columns=['Predicted','Actual'])

In [50]:
comparison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Predicted  2154 non-null   float64
 1   Actual     2154 non-null   object
dtypes: float64(1), object(1)
memory usage: 33.8+ KB

In [51]:
comparison['Actual'] = comparison['Actual'].astype('float64')

In [52]:
comparison.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Predicted  2154 non-null   float64
 1   Actual     2154 non-null   float64
dtypes: float64(2)
memory usage: 33.8 KB

In [53]:
comparison.head()

   Predicted     Actual
0  25.069003  25.153183
1  15.435109   2.049769
2  28.891265  49.645567
3  34.042812  82.904051
4  14.731867  21.581771

In [54]:
comparison.describe()

         Predicted       Actual
count  2154.000000  2154.000000
mean     31.807332    32.578713
std      14.600799    44.421030
min       4.921232     0.000231
25%      20.216146     6.077465
50%      29.338439    15.789410
75%      40.674259    38.762115
max     107.438658   276.005000