# Preprocessing & Training

### Goal:
<p>Create a cleaned development dataset you can use to complete the modeling step of your project.</p>

### Steps:
<ul><li>Create dummy or indicator features for categorical variables</li><li>Standardize the magnitude of numeric features using a scaler</li><li>Split into testing and training datasets</li></ul>
Review the following questions and apply them to your dataset:<ul><li>Does my data set have any categorical data, such as Gender or day of the week?</li><li>Do my features have data values that range from 0 - 100 or 0-1 or both and more? Â </li></ul>

In [1]:
import numpy as np
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve

from library.sb_utils import save_file

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
adopted = pd.read_csv('data/dogs_trimmed.csv')
adopted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6970 entries, 0 to 6969
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    6970 non-null   object
 1   gender                 6970 non-null   object
 2   size                   6970 non-null   object
 3   coat                   6970 non-null   object
 4   distance               6970 non-null   float64
 5   spayed_neutered        6970 non-null   bool
 6   house_trained          6970 non-null   bool
 7   special_needs          6970 non-null   bool
 8   shots_current          6970 non-null   bool
 9   breed_primary          6970 non-null   object
 10  breed_secondary        6970 non-null   object
 11  breed_mixed            6970 non-null   bool
 12  color_primary          6970 non-null   object
 13  color_secondary        6970 non-null   object
 14  color_tertiary         6970 non-null   object
 15  goodwith_children      6970 non-null   object
 16  goodwith_dogs          6970 non-null   object
 17  goodwith_cats          6970 non-null   object
 18  hasimage               6970 non-null   bool
 19  hasvideo               6970 non-null   bool
 20  duration_as_adoptable  6970 non-null   float64
 21  city                   6970 non-null   object
 22  population             6970 non-null   float64
dtypes: bool(7), float64(3), object(13)
memory usage: 919.0+ KB

In [5]:
df = adopted[['gender', 'size', 'coat', 'duration_as_adoptable', 'hasimage', 'hasvideo', 'spayed_neutered', 'house_trained', 'special_needs', 'shots_current', 'goodwith_children', 'goodwith_dogs', 'goodwith_cats']]
df.loc[:, ['hasimage', 'hasvideo', 'spayed_neutered', 'house_trained', 'special_needs', 'shots_current']] = adopted.loc[:, ['hasimage', 'hasvideo', 'spayed_neutered', 'house_trained', 'special_needs', 'shots_current']].astype('int64')
df = pd.get_dummies(df)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [6]:
# drop one of each of the dummy category columns so those features don't double-weight anything
df.drop(['size_Extra Large', 'gender_Female', 'coat_Hairless', 'goodwith_children_False', 'goodwith_dogs_False', 'goodwith_cats_False'], axis=1, inplace=True)

In [28]:
scaler = StandardScaler()
scaled = scaler.fit_transform(df)

In [30]:
scaled_df = pd.DataFrame(scaled, columns=df.columns)
df_scaled.describe()

              0          1          2          3          4          5          6          7          8          9          10         11         12         13         14         15         16         17         18         19         20         21
count 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000 6970.00000
mean    -0.00000   -0.00000    0.00000    0.00000    0.00000    0.00000   -0.00000   -0.00000    0.00000   -0.00000   -0.00000   -0.00000   -0.00000   -0.00000    0.00000    0.00000   -0.00000   -0.00000    0.00000    0.00000   -0.00000   -0.00000
std      1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007    1.00007
min     -8.12522   -0.20113   -1.75115   -0.82999   -0.16876   -3.45418   -1.05366   -0.59293   -0.72238   -0.78656   -0.12663   -0.25610   -0.54629   -1.05366   -0.14107   -0.41428   -0.85714   -0.99114   -1.26100   -0.74459   -0.62814   -1.24324
25%      0.12307   -0.20113    0.57105   -0.82999   -0.16876    0.28950   -1.05366   -0.59293   -0.72238   -0.78656   -0.12663   -0.25610   -0.54629   -1.05366   -0.14107   -0.41428   -0.85714   -0.99114   -1.26100   -0.74459   -0.62814   -1.24324
50%      0.12307   -0.20113    0.57105   -0.82999   -0.16876    0.28950    0.94907   -0.59293   -0.72238   -0.78656   -0.12663   -0.25610   -0.54629    0.94907   -0.14107   -0.41428   -0.85714   -0.99114    0.79302   -0.74459   -0.62814    0.80435
75%      0.12307   -0.20113    0.57105    1.20484   -0.16876    0.28950    0.94907    1.68655    1.38431    1.27136   -0.12663   -0.25610   -0.54629    0.94907   -0.14107   -0.41428    1.16667    1.00894    0.79302    1.34302    1.59201    0.80435
max      0.12307    4.97188    0.57105    1.20484    5.92571    0.28950    0.94907    1.68655    1.38431    1.27136    7.89707    3.90475    1.83052    0.94907    7.08872    2.41384    1.16667    1.00894    0.79302    1.34302    1.59201    0.80435

In [48]:
cols = {}
for i in range(len(scaled_df.columns)) :
    cols[i] = df.columns[i]
    
cols

{0: 'duration_as_adoptable',
 1: 'hasimage',
 2: 'hasvideo',
 3: 'spayed_neutered',
 4: 'house_trained',
 5: 'special_needs',
 6: 'shots_current',
 7: 'gender_Male',
 8: 'size_Large',
 9: 'size_Medium',
 10: 'size_Small',
 11: 'coat_Curly',
 12: 'coat_Long',
 13: 'coat_Medium',
 14: 'coat_Short',
 15: 'coat_Wire',
 16: 'coat_unknown',
 17: 'goodwith_children_True',
 18: 'goodwith_children_unknown',
 19: 'goodwith_dogs_True',
 20: 'goodwith_dogs_unknown',
 21: 'goodwith_cats_True',
 22: 'goodwith_cats_unknown'}

In [50]:
scaled_df.rename(columns=cols, inplace=True)